/* Main container */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Left Side - Image */
.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 45%;
}

.hero-img {
  width: 100%;
  max-width: 100%;
  height: 80vh;
  object-fit: cover;
  border-bottom-right-radius: 30%;
  box-shadow: 1px 1px 20px 1px rgb(160, 153, 153);
}

/* Right Side - Form */
.hero-form-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px rgb(160, 153, 153);
  border-bottom-right-radius: 30%;
  min-width: 300px;
  max-width: 45%;
  height: 600px;
  max-height: 50%;
}



/* @media (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image-container,
  .hero-form-container {
    max-width: 90%;
    width: 90%;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }


} */

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    gap: 15px;
  }

  .hero-img {
    width: 70%;
    height: auto;
    border-bottom-right-radius: 20%;
  }

  .hero-form-container {
    width: 90%;
    max-width: 100%;
    padding: 15px;
  }

  .hero-form iframe {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .hero-img {
    border-bottom-right-radius: 15%;
  }

  .hero-form-container {
    width: 100%;
    padding: 10px;
  }

  .hero-form iframe {
    height: 300px;
  }
}

.form-paper {
  padding: 2rem;
  border-radius: 12px;
  max-width: 450px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  background-color: #1976d2;
  transition: background 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #155aa5;
}
